.carousel-container {
    position: relative;
    width: 100%;
    /* max-width: 800px; */
    margin: auto;
    overflow: hidden;
}

.carousel-slide {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    position: relative;
    text-align: center;
    /* Centering the image */
}

.carousel-image {
    object-fit: contain;
    width: 100%;
    height: 600px;
}

.carousel-description {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: 80%;
}

.carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.carousel-arrow.left {
    left: 10px;
}

.carousel-arrow.right {
    right: 10px;
}

/* .product-item {
    margin-bottom: 40px;
    border: 1px solid black;
    width: 33.33%;
}

  .product-item img {
    width: 100%;
    height: 300px;
    object-fit: contain;
  }
  
  .product-item .product-details {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 15px;
  }

  .product-item .name-head{
    font-size: 20px;
    font-weight: 600;
  }

  .product-item h6 {
    text-align: center;
  }

  .product-item .product-footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  } */

.product-list-wrapper {
    padding: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /* Optional: Adds space between the items */
}

.product-item {
    border: 1px solid black;
    border-radius: 10px;
    width: calc(33.33% - 20px);
    /* Adjust width to account for the gap */
    box-sizing: border-box;
}

.product-item img {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.product-item .product-details {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 15px;
}

.product-item .name-head {
    font-size: 20px;
    font-weight: 600;
}

.product-item h5 {
    text-align: center;
}

.product-item .product-footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}